@media only screen and (min-width: 992px) {
body
{
  background-image: url('/Media/Covers/layered-waves-haikei\ _orange.svg');
  background-repeat: no-repeat;
  width: 90%;
  background-size: cover;
  position: fixed;
  background-color: #060606;
  overflow-y: hidden;
}

iframe
{
  border: 0px none; 
  margin-left: -1059px; 
  height: 190px; 
  margin-top: -110px; 
  width: 1526px;
}

header
{
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color:#181818;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  text-align: center;
}

.asideheaderfont
{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
}

aside, section{
  float:left;
}

section
{
  margin-left: 300px;

}

aside
{
    background-color: rgb(228, 93, 52);
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    float: left;
}

#wrapper
{
  text-align: center;
}


#asideline
{
    width:50%;
    text-align:left;
    margin: auto;
    height: 2px;
    background-color: white;
    border:none;
    
}

.skilledicons
{
  height:150px;
  margin: 35px;
  border-radius: 50%;
}

.skilledicons:hover
{
  opacity: 0.9;
  transition: all .3s ease-in-out; 
  transform:scale(1.05);
}

.groupicons {        
  display: flex;
  align-items: center;
  justify-content: center;
}


#profilepicture
{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

#profilepicture:hover
{
    filter: brightness(20%);
}

.container4:hover .overlay
{
    opacity: 1;
}

.container4:not(:hover) .overlay
{
    transition: ease-out(1);
    opacity: 0;
}

.container4
{
    display: block;
    position: relative;
    padding-left: 43px; 
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  .ingress {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

aside h1,
aside footer,
.filtertags,
h2
 {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 28px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

h3,
.langicon,
.iconEngine
{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    left: 15%;
    position: relative;
    padding:-70px;
}

.langicon:before
{
    background-image: url("/Media/Icons/AsideIcons/langtag.png");
    content:"";
    display: inline-block;
    background-size: 40px 40px;
    width:40px;
    height:30px;
}

.iconEngine:before
{
    background-image: url("/Media/Icons/AsideIcons/enginetag.png");
    content:"";
    display: inline-block;
    background-size: 30px 27px;
    width:30px;
    height:25px;
}

#langicon
{
    height: 50px;
    left: 50%;
}

#contentFilterGroup button
{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    text-align: left;
    margin-top: 10px;
    background-color: #00000000; 
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(241, 241, 241);
    font-size: 25px;
    width: 50%;
  }

  #contentFilterGroup button:hover
  {
      color: rgb(197, 197, 197);
  }

  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 43px; /* */
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
  }

  /* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
    background-color: #21c063;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;
  }


  .website_content
  {
    position: relative;
    margin-left: 13%;
  }

#websiteauthor {
    font-family: 'Marck Script', cursive;
    font-size: 22px;
}

/* Social media buttons*/
.fa,
.fa-linkedin, .fa-github, .fa-artstation {
    padding: 5px;
    width: 45px;
    text-decoration: none;
    margin: 10px 6px;
    border-radius: 50%;
    text-align: center;
    background: #000000;
    color: white;
    margin-top: 25px;
  }
  

.fa:hover 
{
    opacity: 0.9;
    transition: all .3s ease-in-out; 
    transform:scale(1.25);
}

.fa:not(:hover) 
{
    opacity: 1;
    transition: all .4s ease-in-out; 
    transform:scale(1);
}


.fa-linkedin:hover
{
 background: #0a66c2;
}

.fa-github:hover
{
 background: #6e2d97;
}

.fa-artstation:hover
{
 background: #13aff0;
}

.centergroup
{
  margin: auto;
  width: 50%;
}

#fetchkattisdata
{
  font-family: 'Alumni Sans', sans-serif;
  font-size: 30px;
  top: -30px; 
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::before {
  background-image: url("/Media/Icons/Stickers/informationsticker.png");
  content:"";
  background-repeat: no-repeat;
  padding-left: 3px;
  display: inline-block;
  background-size: 20px 20px;
  width:20px;
  height:20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -110px;
}

.tooltiptext {
  font-size: 22px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hamburgermenu,
#hamburgeraside,
.closebtn,
#hash
{
  display: none;

}


#phone
{
  display: none;
}

}
